.about-page {
    height: 100vh;
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: -1000;
}

.about-page-inner {
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20vh;
    gap: 10vh;
}

.title {
    font-size: 4rem;
    font-family: "Major Mono Display";
}

.about-body-text {
    font-family: "Geist";
    font-weight: 500;
    font-size: 1.2rem;
    width: 40vw;
    text-align: center;
}

.link {
    cursor: pointer;
}

.image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.image > img {
    height: 50vh;
    transition: all 0.5s;
}

/* .image > img:hover {
    height: 60vh;
} */

.corner-arrow {
    height: 1em;
}