@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
  font-family: "Geist";
  src: url("./Geist-1.3.0/variable-ttf/GeistVF.ttf");
}

html {
  --primary-color: #6000C1;
  --accent-color: #BB0000;
  --bg-color: #FFD25D;
  font-family: "Major Mono Display";
  overflow: clip;
}

body {
  margin: 0;
}

.page-title {
  font-family: "Major Mono Display";
  font-size: 3rem;
  margin: 50px 0 0 50px;
  font-weight: 500;
  position: fixed;
  z-index: 1;
  /* color: var(--primary-color) */
}
.page-title::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 8px;
  top: 60px;
  background-color: var(--primary-color);
}

@keyframes highlight {
  from {
    background-position: 0;
  }

  to {
    background-position: -100%;
  }
}

.text {
  /* animation-name: highlight;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  background-size: 0.5rem;
  background-color: white; */

  margin: 0;
}

h2 {
  margin: 0;
}

@keyframes nav-fade-in {
  0% {
    opacity: 0%;
    pointer-events: none;
    cursor: none;
  }
  50% {
    opacity: 0%;
    pointer-events: none;
    cursor: none;
  }
  100% {
    opacity: 100%;
    pointer-events: all;
    cursor: pointer;
  }
}

.nav-button {
  animation: 1s linear 0s 1 nav-fade-in;
  /* opacity: 0%;
  opacity: 0%;
  pointer-events: none;
  cursor: none; */

  z-index: 100;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: var(--primary-color);
  font-family: "Geist";
  font-size: 1.5rem;
  font-style: medium;

  cursor: pointer;

  transition: all 1s;
}

.nav-button.nav-top {
  flex-direction: column-reverse;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-button.nav-bottom {
  flex-direction: column;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-button.offset {
  left: calc(50% + 200px);
}

.nav-arrow {
  fill: currentcolor;
}

.nav-top > .nav-arrow {
  transform: scaleY(-1);
}