.work-page {
  font-family: "Geist";
  font-weight: 500;
  margin: 0;
  height: max-content;
  width: 100vw;
  position: fixed;
  top: 0;
  /* overflow-y: scroll; */
  overflow-x: hidden;
  background-color: white;
}

.work-page.full {
  position: absolute;
}

.gradient {
  position: fixed;
  background: linear-gradient(white, white 80%, transparent 100%);
  width: calc(100% - 14px);
  height: 20vh;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 50px;
  width: 24vw;
  box-sizing: border-box;
  top: 25vh;
  margin-top: 50px;
}

.sidebar-item {
  font-size: 16pt;
  position: relative;
  width: min-content;
  text-wrap: nowrap;
  cursor: pointer;
}

.sidebar-item::before {
  content: "";
  z-index: -1;
  position: absolute;
  background-color: var(--bg-color);
  height: 14px;
  width: 0%;
  transform: translate(10px, 16px);
  transition: all 0.5s;
}

.sidebar-item.selected::before {
  width: 100%;
}

.sidebar-item:hover::before {
  width: 50%;
}

.sidebar-item.selected:hover::before {
  width: 120%;
}

.divider {
  position: fixed;
  width: 1px;
  height: 75vh;
  bottom: 0;
  left: 24vw;
  background-color: black;
}

.project {
  margin-left: calc(24vw + 100px);
  margin-right: 14vw;
  margin-top: 24vh;
  z-index: -100;
}

.work-page.full > .project {
  margin-top: 224vh;
  /* margin-left: calc(24vw + 117px);
  margin-right: calc(14vw - 17px); */
}

h2 {
  font-size: 4rem;
}

h3 {
  margin-top: 80px;
}

.columns {
  display: flex;
  gap: 20px;
  overflow: flex
}

subtitle {
  font-style: italic;
}

.project-body {
  margin: 100px 0;
  width: 100%;
}